<!DOCTYPE html>
<html th:replace="~{_layout :: layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns:th="http://www.thymeleaf.org">
      <head>
      <title>Login</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">

                <div th:if="${param.error}" class="alert alert-danger">
                    Yanlış kullanıcı adı veya şifre.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    Oturum başarıyla kapatıldı!
                </div>

                <div class="card">
                    <div class="card-header">Giriş Yap</div>
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="tcKimlikNo">Kullanıcı Adı</label>
                                <input type="text" class="form-control" name="tcKimlikNo" id="tcKimlikNo" placeholder="Kullanıcı Adı">
                            </div>
                            <div class="form-group">
                                <label for="password">Şifre</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Şifre">
                            </div>
                            <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
