<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ana Sayfa</title>
</head>
<body>

<nav>
  <ul>
    <li><a th:href="@{/api/fotografSanati}">Fotoğraf Sanatı</a></li>
    <li><a th:href="@{/siir}">Şiir</a></li>
    <li><a th:href="@{/egitimIyiOrnekler}">Eğitimde İyi Örnekler</a></li>
    <li><a th:href="@{/ogretmenAnilari}">Öğretmen Anıları</a></li>
    <li><a th:href="@{/ayinTemasi}">Ayın Teması</a></li>
    <li><a th:href="@{/ilIlceTanitimi}">İl/İlçe Tanıtımı</a></li>
    <li><a th:href="@{/basariHikayeleri}">Başarı Hikâyeleri</a></li>
    <!--<li><a th:href="@{/youtubeVideolari}">Video Icerikleri</a></li>-->
  </ul>
</nav>

</body>
</html>
